div {
    border: 1px solid grey;
    padding: 20px;
    margin-bottom: 10px;
}

.first {
    background-color: #faeeee;
}

.second {
    background-color: #908a8a;
}

.container {
    display: flex;
}

.box1 {
    font-size: 16px;
    width: 12.5em;
    height: 12.5em;
    padding: 1em;
    background-color: #5DB7DE;
}

.box2 {
    font-size: 20px;
    width: 12.5em;
    height: 12.5em;
    padding: 1em;
    background-color: #5DB7DE;
    margin-left: 10px;
}

ul {
    font-size: 1.5em;
}