div {
    border: 1px solid grey;
    padding: 20px;
    margin-bottom: 10px;
}

.first {
    background-color: #faeeee;
}

.second {
    background-color: #908a8a;
}

.box {
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: #5DB7DE;
}