<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common :: head (~{::title})}">
    <title>Post</title>
</head>
<body class="bg-light" style="height: 100vh">
<div th:replace="~{fragments/common :: header}"></div>

<div id="content" class="container" style="padding-top: 160px; padding-bottom: 66px;">
    <div class="row row-cols-1">
        <div th:replace="~{fragments/post :: post-full (${post})}"></div>
    </div>
</div>

<div th:replace="~{fragments/common :: footer}"></div>
</body>
<script type="text/javascript">
    var resizeElement = document.getElementById("header");
    var content = document.getElementById("content");
    var resizeCallback = function () {
        console.log("height: " + resizeElement.clientHeight);
        content.style.paddingTop = resizeElement.clientHeight + 8 + "px";
    };
    addResizeListener(resizeElement, resizeCallback);
    // removeResizeListener(resizeElement, resizeCallback);
</script>
</html>
