<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/main :: head (title = ${'Create Product'})">
    <title></title>
</head>
<body>
<div th:replace="fragments/main :: navbar"></div>
<div class="container mt-3 border">
    <h3>Create Product</h3>
    <form action="" method="post" th:object="${productDto}">
        <input type="hidden" th:field="*{uuid}">
        <div>
            <label for="name">Name</label>
            <input class="form-control mb-4 w-50" type="text" placeholder="Name" id="name" name="name"
                   th:field="*{name}"
                   th:errorclass="is-invalid"
            >
            <ul class="invalid-feedback">
                <li th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
            </ul>
        </div>

        <div>
            <label for="quantity">Quantity</label>
            <input class="form-control mb-4 w-50" type="number" id="quantity"
                   th:field="*{quantity}"
                   th:errorclass="is-invalid">
            <ul class="invalid-feedback">
                <li th:each="err : ${#fields.errors('quantity')}" th:text="${err}"/>
            </ul>
        </div>

        <label for="price">Price</label>
        <input class="form-control mb-4 w-50" type="number" id="price"
               th:field="*{price}"
               th:errorclass="is-invalid">
        <ul class="invalid-feedback">
            <li th:each="err : ${#fields.errors('price')}" th:text="${err}"/>
        </ul>

        <label>Description</label>
        <input class="form-control mb-4 w-50" type="text" placeholder="Description" name="description" th:field="*{description}">
        <button class="btn btn-info" type="submit">Submit</button>
    </form>
    <div th:text="${message}"></div>
</div>
<div th:replace="fragments/main :: footer"></div>
</body>
</html>
