<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/main :: head ('Create User')}">
    <title></title>
</head>
<body>
<div th:replace="~{fragments/main :: navbar}"></div>
<div class="container mt-3 border">
    <h3 th:text="#{create.user}"></h3>
    <form action="" method="post" th:object="${user}">
        <label for="user" th:text="#{user.name}"></label>
        <input class="form-control mb-4 w-50" type="text" th:placeholder="#{user.name}" id="user" name="name" th:field="*{name}">

        <label for="password" th:text="#{user.password}">Password</label>
        <input class="form-control mb-4 w-50" type="password" th:placeholder="#{user.password}" id="password" name="quantity"
               th:field="*{password}">
        <button class="btn btn-info mb-1" type="submit" th:text="#{button.submit}"></button>
    </form>
    <!--    <div th:text="${message}"></div>-->
</div>
<div th:replace="~{fragments/main :: footer}"></div>
</body>
</html>
