$mainColor: azure;
$secondColor: #95b1e3;
$mainBlockColor: bisque;
$border: 2px black solid;
$mainPadding: 2em;
$mainFontSize: 1.5em;
$mainFontFamily: "Agency FB", sans-serif;
$blockMargin: 2em;
$defaultColor: #06d9d8;
$mainBlocHeight: 100px;
$gridBackground: #995D81;
$someVar: some_class;